// 已經 R 完 RWD 820px & 430px
.be-cool-now-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: url("@/assets/images/loginpagenew.png") no-repeat center center;
  background-size: cover;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  text-align: center;

  a {
    display: block;

    &:visited {
      color: $Ivory_white;
    }

    &:link {
      color: $Ivory_white;
    }
  }

  .be-cool-now-front-btn {
    width: 170px;
    height: 161px;
    border-radius: 50%;
    background-color: #d4a548;
    cursor: pointer;
    font-size: 48px;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: #d4a548 0.3s ease;
    margin-left: 240px;
    line-height: 161px;

    &:hover {
      background-color: #e8c15b;
    }
  }

  .be-cool-now-back-btn {
    width: 170px;
    height: 161px;
    // padding: 170px 170px;
    border-radius: 50%;
    background-color: #d4a548;
    cursor: pointer;
    font-size: 48px;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: #d4a548 0.3s ease;
    margin-right: 240px;
    text-align: center;
    line-height: 161px;

    &:hover {
      background-color: #e8c15b;
    }
  }

  .be-cool-now-logo {
    text-align: center;

    img {
      max-width: 300px;
      // border-radius: 50%;
    }
  }
}

// 平板樣式 (小於 820px)
@media screen and (max-width: 820px) {
  .be-cool-now-container {
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    .be-cool-now-front-btn {
      margin: 0;
      width: 100px;
      height: 100px;
      font-size: 36px;
      line-height: 100px;
      order: 1;
    }

    .be-cool-now-back-btn {
      margin: 0;
      width: 100px;
      height: 100px;
      font-size: 36px;
      line-height: 100px;
      order: 3;
    }

    .be-cool-now-logo {
      order: 2;

      img {
        max-width: 150px;
      }
    }
  }
}

// 手機樣式 (小於 430px)
@media (max-width: 430px) {
  //不用 R
}