/* ----- 環保市集 - 全商品瀏覽 ----- */
.Sp-X {
    .Sp-banner {
        width: 100%;
        height: 360px;
        position: relative;
        overflow: hidden;
    
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        h1 {
            font-size: 64px;
            font-weight: bold;
            color: #ececec;
            text-shadow: 1px 3px 7px #00000091;
            position: absolute;
            z-index: 3;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            white-space: nowrap;
        }
    }

    /* 中間內容 */
    .Sp-wrapper-S {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        gap: 40px;
        align-items: flex-start;
        position: relative;

        @include max_1200() {}

        @include max_820() {
            margin: 0 3vw;
        }

        /* 左：價格選擇 */
        .fliter_section_S {
            width: 20%;
            border-radius: 20px;
            background: $Ivory_white;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            padding: 28px 20px;
            box-sizing: border-box;
            margin: 40px 0;
            position: sticky;
            top: 100px;
            left: 0;

            ul {
                width: 80%;
                margin: 0 auto;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 20px;

                li {
                    padding: 16px 20px;
                    border-radius: 20px;
                    font-weight: 500;


                    &:nth-of-type(1) {
                        background-color: $Green_1;
                    }

                    &:nth-of-type(1) a {
                        color: $Ivory_white;
                    }

                    a {
                        display: block;
                        color: $Gray_1;
                        white-space: nowrap;

                    }

                }
            }

            @include max_820() {
                display: none;
            }
        }

        .fliter_section820_S {
            display: none;
            justify-content: end;
            padding: 40px 0;
            position: relative;

            select {
                cursor: pointer;
                outline: none;
                border: 0px solid transparent;
                padding: 10px 28px;
                padding-left: 20px;
                padding-right: 32px;
                border-radius: 30px;
                color: $Ivory_white;
                background-color: $Yellow_1;
                -webkit-appearance: none;
                /* 隱藏箭頭 */
                -moz-appearance: none;
                /* 隱藏箭頭 */
                appearance: none;

                /* 隱藏箭頭 */
                option {
                    background-color: #fff;
                    color: $Green_1;
                }
            }

            &::after {
                content: '\25BC';
                /* 使用不同的箭頭符號 */
                display: block;
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
                pointer-events: none;
                color: white;
                font-size: 12px;

            }

            @include max_820() {
                display: flex;
                justify-content: flex-start;
            }

        }

        /* 右：上篩選 + 下商品列表 */
        .Sp_container_S {
            width: 80%;

            @include max_820() {
                width: 100%;
                margin: 0 auto;
            }

            /* 新舊 + 價格篩選 */
            .store_title_S {
                display: flex;
                justify-content: space-between;
                padding: 40px 0;
                position: relative;
                align-items: center;

                .Sp_spend_category {
                    font-weight: $font_weight_Bold;
                    font-size: $h3;

                    @include max_820() {
                        display: none;
                        margin-top: 80px;
                    }
                }

                .select-box {
                    position: relative;
                    // background-color: #fff;
                    padding: 1px 0;

                    select {
                        display: block;
                        cursor: pointer;
                        outline: none;
                        border: 0px solid transparent;
                        padding: 10px 28px;
                        padding-left: 20px;
                        padding-right: 32px;
                        border-radius: 30px;
                        color: $Green_2;
                        background-color: $Light_Green;
                        -webkit-appearance: none;
                        /* 隱藏箭頭 */
                        -moz-appearance: none;
                        /* 隱藏箭頭 */
                        appearance: none;
                        position: relative;

                        &::before {
                            content: '111';
                            display: block;
                            width: 100%;
                            height: 5px;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            background-color: $Green_1;
                        }

                        /* 隱藏箭頭 */
                        option {
                            background-color: #fff;
                            color: $Green_1;
                        }
                    }

                    &::before {
                        display: block;
                        content: '';
                        width: 90%;
                        height: 1px;
                        background-color: $Green_1;
                        position: absolute;
                        bottom: 0;
                        right: 4%;

                    }

                    &::after {
                        content: '\25BC';
                        /* 使用不同的箭頭符號 */
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: 15px;
                        transform: translateY(-50%);
                        pointer-events: none;
                        color: $Green_2;
                        font-size: 12px;

                    }
                }


            }

            // /* 新舊 + 價格篩選 */
            // .store_title_S {
            //     display: flex;
            //     justify-content: end;
            //     padding: 40px 0;
            //     position: relative;

            //     @include max_430() {
            //         margin-right: 60px;
            //     }

            //     select {
            //         cursor: pointer;
            //         outline: none;
            //         border: 0px solid transparent;
            //         padding: 10px 28px;
            //         padding-left: 20px;
            //         padding-right: 32px;
            //         border-radius: 30px;
            //         color: $Ivory_white;
            //         background-color: $Yellow_1;
            //         -webkit-appearance: none;
            //         /* 隱藏箭頭 */
            //         -moz-appearance: none;
            //         /* 隱藏箭頭 */
            //         appearance: none;

            //         /* 隱藏箭頭 */
            //         option {
            //             background-color: #fff;
            //             color: $Green_1;
            //         }
            //     }

            //     &::after {
            //         content: '\25BC';
            //         /* 使用不同的箭頭符號 */
            //         display: block;
            //         position: absolute;
            //         top: 50%;
            //         right: 15px;
            //         transform: translateY(-50%);
            //         pointer-events: none;
            //         color: white;
            //         font-size: 12px;

            //     }


            // }
            /* 商品列表 */
            .Sp-product_S {
                margin-bottom: 40px;

                ul.product-grid_S {
                    display: flex;
                    gap: 40px;
                    flex-wrap: wrap;

                    li.product-card_S {
                        width: calc((100% - 80px) / 3);
                        color: $Ivory_white;
                        background-color: $Green_1;
                        text-align: center;

                        .product-box_S {
                            position: relative;
                            box-sizing: border-box;
                            overflow: hidden;
                            transition: all .3s ease-in;

                            a {
                                display: block;
                                font-size: 0;

                                img {
                                    width: 100%;
                                    aspect-ratio: 1;
                                    object-fit: cover;
                                }
                            }

                            p.shop-add-to-cart-X {
                                cursor: pointer;
                                box-sizing: border-box;
                                border-radius: 30px;
                                width: 80%;
                                padding: 14px 28px;
                                position: absolute;
                                bottom: 10%;
                                left: 50%;
                                transform: translate(-50%, 0);
                                background-color: #d0ad44;
                                opacity: 0;

                                @include max_430() {
                                    display: none;
                                }
                            }

                            &:hover p {
                                opacity: 1;
                            }
                        }

                        a.product-card-name-X {
                            color: $Ivory_white;
                            display: block;
                            padding-top: 24px;
                            font-size: 20px;
                        }

                        p {
                            padding-top: 12px;
                            padding-bottom: 30px;
                        }
                        .shop-add-to-cart-btn_S{
                            display: none;
                            justify-content: center;
                            align-items: center;
                            width: 116px;
                            height: 28px;
                            margin: 0 auto;
                            margin-bottom: 15px;
                            background-color: transparent;
                            border: 2px solid white;
                            border-radius: 8px;
                            color: white;
                            font-size: 16px;
                            cursor: pointer;
                            transition: all 0.3s ease-in-out;
                            
                            @include max_820(){
                                display: flex;
                            }
                        }
                    }
                }

                @include max_430() {
                    margin: 0 auto;


                    ul.product-grid_S {
                        gap: 20px;


                        li.product-card_S {
                            width: calc((100% - 40px) / 2)
                        }
                    }

                }
            }

            /* 頁數選擇器 */
            .Sp-pages-X {
                margin-top: 60px;

                @include max_430() {
                    margin-bottom: 40px;
                }

                ul {
                    display: flex;
                    justify-content: center;

                    li {
                        cursor: pointer;
                        padding: 1.4rem;
                        border: 1px solid $Green_3;
                        position: relative;
                        border-right: 0;
                        background-color: $Ivory_white;

                        span {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        i {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        &:last-child {
                            border-right: 1px solid $Green_3;
                        }

                        &.current {
                            background-color: $Green_1;
                            color: $Ivory_white;
                        }

                        &.Sp-pages-prev {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}



/* ----- 環保市集 - 購物車 ----- */
.Sp-X {
    width: 100%;
    background-color: $Light_Green;
    color: $Green_1;
    .Sp-wrapper-X {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 40px;
        box-sizing: border-box;

        @include max_1200() {
            margin: 0 3vw;
        }


        @include max_430(){
            display: flex;
        }

        /* 流程顯示 */
        .Sp-checkout-nav-X {
            text-align: center;
            margin-top: 30px;

            /* 每一個圓圈 */
            .Sp-step-X {
                display: inline-block;
                vertical-align: top;
                width: 240px;
                max-width: 33%;
                margin-left: -2px;
                margin-right: -2px;
                color: black;

                &.active .Sp-badge-X::after {
                    background-color: $Yellow_1;
                }

                &:first-child .Sp-badge-X::before {
                    width: 50%;
                    left: 50%;
                }

                &:last-child .Sp-badge-X::before {
                    width: 50%;
                    right: 50%;
                }

                span {
                    display: block;
                    padding: 2px 5px;
                    color: $Green_1;
                }

                span.Sp-badge-X {
                    position: relative;
                    background-color: transparent;
                    height: 50px;
                    line-height: 50px;
                    padding: 0;
                    color: $Green_2;
                    text-align: center;
                    white-space: nowrap;

                    &::before {
                        content: " ";
                        background-color: $Ivory_white;
                        height: 2px;
                        width: 100%;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        margin-top: -1px;
                        z-index: 0;
                        box-sizing: border-box;
                    }

                    &::after {
                        content: " ";
                        background-color: $Light_Yellow;
                        transform: translate(-50%, -50%);
                        border-radius: 15px;
                        height: 30px;
                        width: 30px;
                        left: 50%;
                        top: 50%;
                        position: absolute;
                        z-index: 0;
                        box-sizing: border-box;
                    }

                    .Sp-badge-text-X {
                        position: absolute;
                        width: 100%;
                        z-index: 1;
                        line-height: 50px;
                    }
                }
            }
        }

        /* 購物車 */
        .Sp-shopping-cart-X {
            box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
            background-color: $Ivory_white;

            /* 表頭 */
            .Sp-section-header {
                font-size: 20px;
                font-weight: 500;
                padding: 10px 1rem;
                background-color: $Light_Yellow;
            }

            /* 項目名稱 + 內容 */
            .Sp-cart-items-wrapper-X {
                .Sp-table-header-X {
                    padding: 1rem;
                    display: flex;

                    @include max_1024() {
                        display: none;
                    }

                    // border-bottom: 1px solid #ccc;
                    &::before {
                        display: table;
                        content: '';
                    }

                    &::after {
                        display: table;
                        content: '';
                        clear: both;
                    }

                    div {
                        position: relative;
                        min-height: 1px;
                        padding-right: 15px;
                        padding-left: 15px;

                        &:nth-of-type(1) {
                            padding-left: 0;
                            width: 25%;
                        }

                        &:nth-of-type(2) {
                            width: 16.66666667%;
                            text-align: center;
                        }

                        &:nth-of-type(3) {
                            width: 16.66666667%;
                            text-align: center;
                        }

                        &:nth-of-type(4) {
                            width: 16.66666667%;
                            text-align: center;
                        }

                        &:nth-of-type(5) {
                            width: 16.66666667%;
                            text-align: center;
                        }

                        &:nth-of-type(6) {
                            padding-right: 0;
                            width: 8.33333333%;
                            text-align: center;
                        }
                    }
                }

                .Sp-cart-item-X {
                    padding: 1rem;
                    display: flex;

                    @include max_1024() {
                        flex-wrap: wrap;
                        position: relative;
                    }

                    div {
                        position: relative;
                        min-height: 1px;
                        padding-right: 15px;
                        padding-left: 15px;

                        @include max_1024() {
                            padding-left: 0;
                            padding-right: 0;
                        }

                        &:nth-of-type(1) {
                            padding-left: 0;
                            width: 25%;
                            display: flex;

                            @include max_1024() {
                                width: 100%;
                            }

                            a {
                                display: block;
                                height: 50px;
                                width: 20%;
                                margin-right: 10px;
                                // background-image: url('src/assets/images/Sp06.jpg');
                                background-size: contain;
                                background-repeat: no-repeat;
                                flex-shrink: 0;

                                @include max_1024() {
                                    width: 50px;
                                }
                            }

                        }

                        &:nth-of-type(2) {
                            width: 16.66666667%;
                            text-align: center;

                            @include max_1024() {
                                width: auto;
                                position: absolute;
                                left: 4.75rem;
                                top: 3rem;

                            }
                        }

                        &:nth-of-type(3) {
                            width: 16.66666667%;
                            text-align: center;

                            @include max_1024() {
                                width: auto;
                                position: absolute;
                                top: 4rem;
                                right: 1rem;
                            }
                        }

                        &:nth-of-type(4) {
                            width: 16.66666667%;
                            text-align: center;

                            @include max_1024() {
                                margin-top: 1.5rem;
                                width: 192px;
                            }

                            @include max_540() {
                                width: 160px;
                            }

                            form {
                                border: 1px solid $Green_1;

                                .Sp-cart-input-group-X {
                                    position: static;
                                    min-height: 0;
                                    padding-right: 0;
                                    padding-left: 0;
                                    padding-left: 0;
                                    width: auto;

                                    span {
                                        padding: 10px;
                                        background-color: $Green_3;
                                        color: $Ivory_white;
                                        cursor: pointer;
                                    }

                                    input {
                                        flex-grow: 1;
                                        width: 50%;
                                        outline: none;
                                        border: 0px solid transparent;
                                        background-color: $Ivory_white;
                                        text-align: center;
                                        color: $Green_1;

                                        @include max_1024() {
                                            width: 100%;
                                        }
                                    }

                                    input[type=number]::-webkit-outer-spin-button,
                                    input[type=number]::-webkit-inner-spin-button {
                                        -webkit-appearance: none;
                                        margin: 0;
                                    }
                                }
                            }
                        }

                        &:nth-of-type(5) {
                            width: 16.66666667%;
                            text-align: center;

                            @include max_1024() {
                                width: auto;
                                position: absolute;
                                bottom: 1.5rem;
                                right: 1rem;
                            }
                        }

                        &:nth-of-type(6) {
                            padding-right: 0;
                            width: 8.33333333%;
                            text-align: center;

                            @include max_1024() {
                                width: auto;
                                position: absolute;
                                top: 1rem;
                                right: 1rem;
                            }

                            i {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        /* 精選商品 */
        .Sp-shopping-cart-addon-X {
            box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
            background-color: $Ivory_white;

            /* 表頭 */
            .Sp-section-header {
                font-size: 20px;
                font-weight: 500;
                padding: 10px 1rem;
                background-color: $Light_Yellow;
            }

            /* 項目內容 */
            .Sp-cart-addon-wrapper-X {
                padding: 1rem;
                display: flex;
                // gap: 20px;
                box-sizing: border-box;
                overflow: hidden;

                overflow-x: auto; // 允許水平方向的滾動
                scroll-behavior: smooth; // 添加平滑滾動效果
                padding: 10px 0; // 上下內邊距
                // &::-webkit-scrollbar {
                //     display: none; // 隱藏滾動條
                // }


                .Sp-cart-addon-item-X {
                    // width: 25%;
                    width: calc((1200px - 64px) / 4);
                    display: flex;
                    box-sizing: border-box;
                    flex-shrink: 0;
                    margin-left: 16px;

                    .Sp-cart-addon-item-img {
                        width: 40%;

                        img {
                            display: block;
                            font-size: 0;
                            max-width: 100%;
                            aspect-ratio: 1;
                            object-fit: cover;
                        }
                    }

                    .Sp-cart-addon-item-content {
                        width: 40%;
                        margin: 0 5%;
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        font-size: 14px;

                        .Sp-cart-addon-item-info {
                            p {
                                line-height: 1.2;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                -webkit-line-clamp: 2;
                                text-overflow: ellipsis;
                            }

                            span {
                                display: block;
                                margin: 8px 0;
                            }
                        }

                        button {
                            cursor: pointer;
                            padding: 12px 28px;
                            outline: none;
                            border: 0px solid transparent;
                            border-radius: 30px;
                            color: $Ivory_white;
                            background-color: $Yellow_1;
                        }
                    }
                }
            }
        }

        /* 訂單：選擇付款方式 + 訂單資訊 */
        .Sp-shopping-info-X {
            display: flex;
            gap: 28px;

            @include max_912() {
                flex-direction: column;
            }

            // align-items: flex-start;
            /* 選擇付款方式 */
            .Sp-order-form-X {
                width: 65%;
                box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
                background-color: $Ivory_white;

                @include max_912() {
                    width: 100%;
                }

                .Sp-order-form-header {
                    font-size: 20px;
                    font-weight: 500;
                    padding: 10px 1rem;
                    background-color: $Light_Yellow;
                }

                .Sp-order-form-body {
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;

                    label {}

                    select {
                        color: $Green_1;
                        box-sizing: border-box;
                        outline: none;
                        margin-top: 12px;
                        margin-bottom: 32px;
                        background-color: $Ivory_white;
                        height: 40px;
                        padding: 0 4px;
                    }
                }
            }

            /* 訂單資訊 */
            .Sp-order-summary-X {
                width: 35%;
                box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
                background-color: $Ivory_white;

                @include max_912() {
                    width: 100%;
                }

                .Sp-order-summary-header {
                    font-size: 20px;
                    font-weight: 500;
                    padding: 10px 1rem;
                    background-color: $Light_Yellow;
                }

                .Sp-order-summary-body {
                    padding: 1rem;

                    div {
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 0;

                        form {
                            display: flex;
                            box-sizing: border-box;
                            width: 190px;
                            border: 1px solid $Green_1;

                            span {
                                padding: 10px;
                                background-color: $Green_3;
                                color: $Ivory_white;
                                cursor: pointer;
                            }

                            input {

                                flex-grow: 1;
                                width: 50%;
                                outline: none;
                                border: 0px solid transparent;
                                background-color: $Ivory_white;
                                text-align: center;
                                color: $Green_1;
                            }

                            input[type=number]::-webkit-outer-spin-button,
                            input[type=number]::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }
                    }

                    a.Sp-checkout-Btn {
                        margin-top: 20px;
                        display: block;
                        text-align: center;
                        padding: 10px 28px;
                        outline: none;
                        border: 0px solid transparent;
                        border-radius: 30px;
                        color: #fffff0;
                        background-color: #d0ad44;
                    }
                }
            }



        }

        /* 出貨提醒 */
        .Sp-shopping-reminder-X {
            box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
            background-color: $Ivory_white;
            margin-bottom: 30px;

            .Sp-shopping-reminder-header {
                font-size: 20px;
                font-weight: 500;
                padding: 10px 1rem;
                background-color: $Light_Yellow;
            }

            .Sp-shopping-reminder-body {
                padding: 1rem;
                white-space: pre-wrap;
                line-height: 2;
            }
        }

    }
}