/* ----- 社群中心 ----- */
main {
    //因為不知道要不要拿 main 當最外框+設置底色，所以新增了一個 Fb-X
    width: 100%;
}

/* 社群中心主頁面 */
.Fb-X {
    width: 100%;
    background-color: $Light_Green;
    margin-top: 80px;

    @include max_1100 {
        margin-top: 0;
    }

    .Fb-wrapper-X {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        gap: 3%;

        @include max_1200() {
            margin: 0 3vw;
        }

        /* 文章 */
        .Fb-post-X {
            width: 70%;
            flex-grow: 1;
            flex-shrink: 0;
            position: relative;

            @include max_1100 {
                margin-top: 80px;
            }

            .Fb-post-category-container-X {
                display: flex;
                border-bottom: 1px solid $Green_2;
                align-items: center;
                margin: 20px 0;
                padding: 10px;
                justify-content: space-between;
                /* 如果要固定的話再放 */
                // background-color: $Light_Green;
                // position: sticky;
                // left: 0;
                // top: 0;

                ul.Fb-post-category-X {
                    display: flex;
                    color: $Green_2;
                    align-items: center;
                    box-sizing: border-box;

                    p {
                        font-size: $h5;
                        cursor: pointer;
                        margin-left: 25px;
                        display: none;

                        @include max_1024() {
                            display: inline-block;
                        }

                        &.active {
                            font-weight: bold;
                        }
                    }

                    /* RWD 後才會出現的下拉選單 */
                    .Fb-post-category-box {
                        position: relative;
                        display: none;

                        @include max_1024() {
                            display: inline-block;
                        }

                        select {
                            font-size: $h5;
                            cursor: pointer;
                            outline: none;
                            border: 0px solid transparent;
                            // padding: 10px 28px;
                            // padding-left: 20px;
                            // padding-right: 32px;
                            padding: 0 10px;
                            color: $Green_2;
                            background-color: $Light_Green;
                            -webkit-appearance: none;
                            /* 隱藏箭頭 */
                            -moz-appearance: none;
                            /* 隱藏箭頭 */
                            appearance: none;

                            /* 隱藏箭頭 */
                            option {
                                background-color: #fff;
                                color: $Green_1;
                            }

                            &.active {
                                font-weight: bold;
                            }
                        }

                        &::after {
                            content: '\25BC';
                            /* 使用不同的箭頭符號 */
                            display: block;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translate(50%, -50%);
                            pointer-events: none;
                            color: $Green_2;
                            font-size: 12px;

                        }
                    }

                    li {
                        padding: 16px;
                        cursor: pointer;

                        @include max_1024() {
                            display: none;
                        }

                        &:nth-of-type(1) {
                            padding-left: 0;
                        }

                        &:last-child {
                            padding-right: 0;
                        }

                        &.active {
                            font-weight: bold;
                        }
                    }

                }

                .Fb-post-write-X {
                    padding: 0;

                    a {
                        display: block;
                        padding: 12px 36px;
                        background-color: $Yellow_1;
                        border-radius: 30px;
                        color: $Green_2;
                    }
                }
            }

            .Fb-post-article-X {
                @include max_1024() {
                    display: none;

                    &.active {
                        display: block;
                    }
                }

                .Fb-post-article-top-X {
                    width: 100%;

                    .Fb-post-article-banner-X {
                        width: 100%;
                        margin-bottom: 32px;
                        height: 20vh;
                        background-image: url('https://picsum.photos/seed/picsum/2000/3000');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }

                section {
                    article {
                        display: flex;
                        gap: 16px;
                        cursor: pointer;
                        color: $Green_2;
                        letter-spacing: 1px;
                        background-color: $Ivory_white;
                        box-sizing: border-box;
                        padding: 1rem;
                        margin-bottom: 20px;

                        // &:nth-child(even){
                        //     background-color: #fff;
                        // }
                        .Fb-post-article-left-X {
                            flex-basis: calc((100% - 16px) * 0.8);
                            flex-grow: 1;
                            // flex-shrink: 0;
                            display: flex;
                            flex-direction: column;

                            @include max_768() {
                                flex-basis: calc((100% - 16px) * 0.7);
                            }

                            @include max_430() {
                                // flex-basis: 60%;
                            }

                            @include max_1024() {
                                padding: .5rem;
                                padding-right: 0;
                                box-sizing: border-box;
                            }

                            .Fb-post-article-left-C-T-X {
                                @include PC_h6($Green_2);
                                margin-bottom: 14px;
                            }

                            .Fb-post-article-left-title-X {
                                @include PC_h5($Green_2);
                                font-weight: 500;
                                margin-right: 20px;
                                line-height: 1.5;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                -webkit-line-clamp: 1;
                                text-overflow: ellipsis;

                                @include max_912() {
                                    margin-bottom: 1.25rem;
                                    -webkit-line-clamp: 2;
                                }

                                @include max_540() {
                                    margin-bottom: 0;
                                }
                            }

                            p {
                                line-height: 1.5;
                                text-align: justify;
                                margin-top: 12px;
                                margin-bottom: 20px;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                -webkit-line-clamp: 2;
                                text-overflow: ellipsis;
                                word-break: break-all;


                                @include max_1200() {
                                    -webkit-line-clamp: 1;
                                }

                                @include max_1024() {
                                    display: -webkit-box;
                                }

                                @include max_912() {
                                    display: none;
                                }
                            }

                            .Fb-post-react-X {
                                @include max_912() {
                                    margin-top: auto;
                                }

                                @include max_540() {
                                    display: none;
                                }

                                i:not(:last-child) {
                                    margin-right: 12px;
                                }
                            }
                        }

                        .Fb-post-article-right-X {
                            // flex-grow: 0;
                            // flex-shrink: 1;
                            flex-basis: calc((100% - 16px) * 0.2);

                            @include max_768() {
                                flex-basis: calc((100% - 16px) * 0.3);
                            }

                            @include max_430() {
                                flex-basis: calc((100% - 16px) * 0.4);
                            }

                            img {
                                width: 200px !important;
                                display: block;
                                font-size: 0;
                                max-width: 100%;
                                object-fit: cover;
                                aspect-ratio: 1;
                            }
                        }
                    }
                }
            }


            /* RWD 的時候才會出現的新聞區 */
            .Fb-news-article-X {
                display: none;

                @include max_1024() {
                    display: none;

                    &.active {
                        display: block;
                    }
                }

                article {
                    a {
                        color: $Green_2;
                        display: flex;
                        gap: 16px;
                        padding: 1rem;
                        margin-bottom: 20px;
                        box-sizing: border-box;
                        background-color: $Ivory_white;
                    }

                    .new-left-X {
                        flex-basis: calc((100% - 16px) * 0.2);

                        img {
                            display: block;
                            font-size: 0;
                            width: 100%;
                            object-fit: cover;
                            aspect-ratio: 1;
                        }

                        @include max_768() {
                            flex-basis: calc((100% - 16px) * 0.3);
                        }

                        @include max_430() {
                            flex-basis: calc((100% - 16px) * 0.4);
                        }
                    }

                    .new-right-X {
                        flex-basis: calc((100% - 16px) * 0.8);
                        display: flex;
                        flex-direction: column;
                        padding: .5rem;
                        padding-left: 0;

                        @include max_768() {
                            flex-basis: calc((100% - 16px) * 0.7);
                        }

                        // @include max_430(){
                        //     flex-basis: calc((100% - 16px) * 0.6);
                        // }
                        .new-time-X {}

                        .new-title-X {
                            @include PC_h5($Green_2);
                            line-height: 1.5;
                            font-weight: 500;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 1;
                            text-overflow: ellipsis;
                            margin-top: 12px;
                            margin-bottom: 20px;

                            @include max_768() {
                                -webkit-line-clamp: 2;
                            }

                            @include max_540() {
                                margin-bottom: 0;
                            }
                        }

                        p {
                            line-height: 1.5;
                            text-align: justify;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            text-overflow: ellipsis;

                            @include max_768() {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .Fb-news-X {
            width: 25%;
            flex-grow: 1;
            flex-shrink: 0;

            @include max_1100 {
                margin-top: 80px;
            }

            @include max_1024() {
                display: none;
            }

            .Fb-news-header-X {
                padding: 1rem;
                margin: 20px 0;
                background-color: $Green_1;
                color: $Ivory_white;
            }

            .Fb-news-body-X {
                article {
                    a {
                        margin-bottom: 20px;
                        display: flex;
                        gap: 5%;
                        color: $Green_2;
                    }

                    img {
                        width: 40%;
                        height: 40%;
                        aspect-ratio: 1;
                        object-fit: cover;
                    }

                    .Fb-news-body-container-X {
                        flex-grow: 1;
                        width: 55%;

                        .Fb-news-body-container-time-X {
                            margin-bottom: 4px;
                        }

                        .Fb-news-body-container-title-X {
                            @include PC_h5($Green_2);
                            font-weight: 500;
                            line-height: 1.2;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            text-overflow: ellipsis;
                            margin-bottom: 10px;

                            @include max_1200() {
                                -webkit-line-clamp: 3;
                            }

                        }

                        .Fb-news-body-container-content-X {
                            line-height: 1.2;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            text-overflow: ellipsis;

                            @include max_1200() {
                                display: none;
                            }
                        }
                    }

                }
            }

        }
    }
}


/* ----- 單一文章 ----- */
.Fb-Atricle-X {
    letter-spacing: 1px;
    color: $Green_1;
    background-color: $Ivory_white;
    padding: 1.6rem 2rem;
    margin-top: 20px;

    .Fb-Atricle-title-X {
        font-size: PC_h3($Green_1);
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.5;
    }

    .Fb-Atricle-info-X {
        display: flex;
        align-items: center;
        margin: 1.6rem 0;

        @include max_540() {
            font-size: 14px;
        }

        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 99rem;
            margin-right: 20px;

            @include max_540() {
                width: 40px;
                height: 40px;
            }
        }

        .Atricle-name-time-X {
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            span {}
        }

        i {
            font-style: normal;
            cursor: pointer;

            span {
                padding: 0 4px;
            }

            &:not(:last-child) {
                margin-right: 16px;
                margin-left: auto;

                // @include max_540() {
                //     margin-right: 0;
                // }
            }

            // &.bi-share {
            //     @include max_768() {
            //         display: none;
            //     }
            // }
        }
    }

    p {
        line-height: 2;
        text-align: justify;
        word-break: break-all;
        // ol{
        //     list-style: decimal;
        // }

        strong,
        b {
            font-weight: 700;
        }

        i {
            font-style: italic;
        }

        img {
            max-width: 100%;
            height: auto;
            margin: 20px 0;
            display: block;
            font-size: 0;
            object-fit: contain;
        }

        h1 {
            font-size: 32px;
        }

        h2 {
            font-size: 28px;
        }

        h3 {
            font-size: 24px;
        }

        @include max_540() {
            line-height: 1.5;
        }
    }



    //    .Fb-Atricle-quote-X{
    //     width: 100%;
    //     height: 92px;
    //     margin: 20px 0;
    //     border: 1px solid $Green_1;
    //     border-radius: 10px;

    //    }
}

/* ----- 留言區 ----- */
.Fb-message-X {
    // margin-top: 30px;
    margin-bottom: 40px;
    color: $Green_1;
    background-color: $Ivory_white;
    padding: 2rem;

    .Fb-message-section-X {

        &.cur {
            cursor: pointer;
        }
    }

    .Fb-ms-other {
        .Fb-message-section-X {
            // @include max_768() {
            //     &:last-child {
            //         border-bottom: 0;
            //     }
            // }

            @include max_540() {
                font-size: 14px;
            }
        }
    }

    /* 再調整 */
    // @include max_768() {
    //     margin-bottom: 80px;
    // }

    .Fb-message-select-X {
        padding: 10px;
        border-bottom: 1px solid $Green_1;

        span {
            margin-right: 40px;
        }

        .Fb-message-selectBox-X {
            position: relative;
            display: inline-block;

            select {
                cursor: pointer;
                outline: none;
                border: 0px solid transparent;
                padding: 10px 28px;
                padding-left: 20px;
                padding-right: 32px;
                border-radius: 30px;
                color: $Ivory_white;
                background-color: $Yellow_1;
                -webkit-appearance: none;
                /* 隱藏箭頭 */
                -moz-appearance: none;
                /* 隱藏箭頭 */
                appearance: none;

                /* 隱藏箭頭 */
                option {
                    background-color: #fff;
                    color: $Green_1;
                }
            }

            &::after {
                content: '\25BC';
                /* 使用不同的箭頭符號 */
                display: block;
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
                pointer-events: none;
                color: white;
                font-size: 12px;

            }
        }
    }

    .Fb-message-section-X {

        &.self {
            border-bottom: 0;

            button {
                cursor: pointer;
            }

            // @include max_768 {
            //     display: none;
            // }
        }

        padding: 20px 10px;
        display: flex;
        gap: 20px;
        align-items: stretch;
        border-bottom: 1px solid $Green_1;

        .Fb-message-section-seeMore-X {
            color: $Yellow_1;

            @include max_540() {
                font-size: 14px;
            }

            i {
                margin-right: 10px;
            }

            p {
                display: inline-block;
            }
        }

        img {
            flex-shrink: 0;
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 99rem;

            @include max_540() {
                width: 40px;
                height: 40px;
            }
        }

        .Fb-message-area-X {
            flex-grow: 1;

            .Fb-message-self-X {
                margin-bottom: 10px;

                .Fb-message-self-name-X {
                    margin-right: 20px;
                }
            }

            .Fb-message-content-X {
                color: $Green_1;

                textarea {
                    background-color: $Light_Green;
                    outline: none;
                    border: 0px solid transparent;
                    width: 100%;
                    height: 100px;
                    padding: 10px;

                    &::placeholder {
                        color: rgba(0, 0, 0, 0.3);
                    }
                }
            }

            .Fb-message-content-other-X {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 50px;

                span {
                    line-height: 1.5;

                    @include max_540() {
                        line-height: 1.2;
                    }

                    &:last-child {
                        color: $Error;
                        cursor: pointer;
                        flex-shrink: 0;
                        font-size: 14px;

                        @include max_540() {
                            font-size: 12px;
                        }
                    }
                }
            }

            button {
                float: right;
                margin: 10px 0;
                padding: 10px 28px;
                outline: none;
                border: 0px solid transparent;
                border-radius: 30px;
                color: $Ivory_white;
                background-color: $Yellow_1;
            }
        }
    }
}

/* ----- RWD 時出現的置底評論區塊 ----- */
.Fb-rwd-message-X {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6vh;
    align-items: center;
    background-color: $Light_Green;
    border-top: 1px solid $Green_4;

    @include max_768() {
        display: flex;
    }

    div {
        padding: 1rem 2rem;
        text-align: center;
        width: 33.33vw;
        position: relative;

        @include max_540() {
            font-size: 14px;
        }

        &::after {
            content: '';
            display: block;
            width: 1px;
            height: 50%;
            background-color: $Green_1;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }

        &:last-child {
            border-right: 0;

            &::after {
                content: none;
            }
        }

        span {
            display: inline-block;
            margin: 0 16px;
        }
    }
}

/* ----- 點擊評論按鈕才會出現的框 ----- */
.Fb-comment-cover-X {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;

    &.active {
        display: block;
    }

    .m-box {
        width: 100vw;
        display: flex;
        padding: 1rem;
        position: absolute;
        gap: 16px;
        background-color: $Ivory_white;
        left: 0;
        bottom: 0;

        img {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 99rem;

            @include max_540() {
                width: 40px;
                height: 40px;
            }
        }

        .inner-box {
            flex-grow: 1;

            textarea {
                display: block;
                width: 100%;
                height: 12vh;
                padding: 10px;
                margin: 10px 0;
                outline: none;
                border: 0px solid transparent;
                background-color: #e6eccc;
            }

            button {
                float: right;
                margin: 10px 0;
                padding: 10px 28px;
                outline: none;
                border: 0px solid transparent;
                border-radius: 30px;
                color: $Ivory_white;
                background-color: $Yellow_1;

            }
        }
    }

}




/* ----- 撰寫文章 ----- */
.FbW-X {
    background-image: url('src/assets/images/Fb08.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    position: relative;
    padding-top: 80px;

    // filter: blur(3px);
    .FbW-wrapper-X {
        padding: 50px 20px;
        max-width: 792px;
        margin: 0 auto;
        color: $Ivory_white;

        // background-color: skyblue;
        @include max_820() {
            margin: 0 3vw;
        }

        .ck.ck-content {
            color: #000 !important;

            h1 {
                font-size: 32px !important;
            }

            h2 {
                font-size: 28px !important;
            }

            h3 {
                font-size: 24px !important;
            }
        }

        /* 標題 */
        .FbW-title-X {
            .FbW-postTilte {
                position: relative;
                display: flex;
                align-items: center;
                box-sizing: border-box;

                label {
                    display: flex;
                    align-items: center;

                    // text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
                    // -webkit-text-stroke-width: 0.5;
                    // -webkit-text-stroke-color: var(--Primary-Colors-5b774a, #5B774A);
                    span {
                        &.fir {
                            font-size: 2rem;
                            font-weight: 500;

                            @include max_540() {
                                font-size: 1.6rem;
                            }
                        }

                        &.las {
                            font-size: 14px;
                            font-weight: normal;
                            margin-left: 20px;

                            @include max_540() {
                                margin-left: 10px;
                            }
                        }
                    }
                }

                select {
                    margin-left: auto;
                    font-size: 14px;
                    cursor: pointer;
                    outline: none;
                    border: 0px solid transparent;
                    padding: 10px 28px;
                    padding-left: 20px;
                    padding-right: 32px;
                    border-radius: 30px;
                    color: $Ivory_white;
                    background-color: $Yellow_1;
                    -webkit-appearance: none;
                    /* 隱藏箭頭 */
                    -moz-appearance: none;
                    /* 隱藏箭頭 */
                    appearance: none;

                    @include max_540() {
                        padding: 5px 0;
                        padding-left: 10px;
                        padding-right: 20px;
                    }

                    /* 隱藏箭頭 */
                    option {
                        background-color: #fff;
                        color: $Green_1;
                    }
                }

                &::after {
                    content: '\25BC';
                    /* 使用不同的箭頭符號 */
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    transform: translateY(-50%);
                    pointer-events: none;
                    color: white;
                    font-size: 12px;

                    @include max_540() {
                        right: 8px;
                        font-size: 10px;
                    }
                }
            }

            input {
                display: block;
                outline: none;
                color: $Green_1;
                border: 2px solid $Green_1;
                border-radius: 5px;
                margin-top: 16px;
                margin-bottom: 40px;
                padding: 0 16px;
                height: 40px;
                width: 100%;
                background-color: $Ivory_white;

                &::placeholder {
                    color: rgba(0, 0, 0, 0.3);
                }

                // @include max_820(){
                //     max-width: auto;
                // }
            }
        }

        /* 內文 */
        .FbW-content-X {
            margin-bottom: 16px;

            label {
                display: flex;
                align-items: center;

                span {
                    &:first-child {
                        font-size: 32px;
                        font-weight: 500;

                        @include max_540() {
                            font-size: 1.6rem;
                        }
                    }

                    &:last-child {
                        font-size: 14px;
                        font-weight: normal;
                        margin-left: 20px;

                        @include max_540() {
                            margin-left: 10px;
                        }
                    }
                }
            }

            /* 原本的主發文區 */
            .FbW-translate-X {
                border: 2px solid $Green_1;
                border-radius: 5px 5px 0 0;
                margin-top: 16px;
                padding: 1rem;
                height: 40px;
                width: 100%;
                background-color: $Ivory_white;
                display: flex;
                align-items: center;
                gap: 12px;

                select {
                    cursor: pointer;
                    font-size: 20px;
                    color: rgba(0, 0, 0, 0.3);
                    outline: none;
                    padding: 8px;
                    border: 0px solid transparent;
                    background-color: transparent;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }

                span {
                    cursor: pointer;
                    font-size: 20px;
                    color: rgba(0, 0, 0, 0.3);
                    padding: 8px;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }

            textarea {
                outline: none;
                color: $Green_1;
                border: 2px solid $Green_1;
                border-top: 0;
                border-radius: 0 0 5px 5px;
                margin-bottom: 16px;
                padding: 10px 16px;
                height: 200px;
                width: 100%;
                background-color: $Ivory_white;

                &::placeholder {
                    color: rgba(0, 0, 0, 0.3);
                }

                p {
                    font-size: 16px;
                }

                h1 {
                    font-size: 32px;
                }

                h2 {
                    font-size: 28px;
                }

                h3 {
                    font-size: 20px;
                }
            }  
            
        }

        /* 預覽圖 */
        .FbW-picture-X {
            padding: 1rem;
            border: 2px solid $Green_1;
            border-radius: 5px;
            // height: 200px;
            width: 100%;
            background-color: $Ivory_white;
            box-sizing: border-box;
            margin-top: 40px;

            div {
                display: flex;
                align-items: center;

                input#FbW-picChoose-X {
                    transform: scale(1.5);
                    cursor: pointer;
                }

                label {
                    margin-left: 20px;
                    color: $Green_1;
                    font-size: 14px;
                    cursor: pointer;
                }
            }

            .FbW-picture-slider-X {
                border: 1px solid $Green_1;
                width: 50%;
                // width: 200px;
                // height: 120px;
                margin: 1.5rem auto;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    button {
        display: block;
        margin: 10px auto;
        padding: 10px 28px;
        outline: none;
        border: 0px solid transparent;
        border-radius: 30px;
        color: $Ivory_white;
        background-color: $Yellow_1;
    }


    .FbW-overlay-X {

        // width: 100%;
        // height: 100%;
        // position: absolute;
        // top: 0;
        // left: 0;
        // background-color: rgba(0, 0, 0, 0.3);
        /* 發文區的 form */
    }
}


/* 頁數選擇器 */
.Sp-pages-X {
    margin: 20px 0 !important;
    display: block!important;
    &.paginator_H{
        ul{
            width: 75%;
            margin-right: 0;
            margin-left: auto;
        }
    }
    ul {
        display: flex ;
        justify-content: center ;
        li {
            cursor: pointer;
            padding: 1.4rem;
            border: 1px solid $Green_3;
            position: relative;
            border-right: 0;
            background-color: $Ivory_white;

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:last-child {
                border-right: 1px solid $Green_3;
            }

            &.current {
                background-color: $Green_1;
                color: $Ivory_white;
            }
        }
    }
}

.removeMT {
    .footer {
        margin-top: 0;
    }
}