//------------------------------- 首頁_主選單 --------------------------------------//

// .Fp_Header_H {
//     width: 100%;
//     height: 80px;
//     border: 1px solid blue;
//     text-align: center;
//     @include PC_h1($Yellow_1);
//     line-height: 80px;
//     position: fixed;
//     z-index: 999;
// }

//---------------------------------------------------------------------------------//
//--------------------------- 環保市集_商品選購頁面 ---------------------------------//

.Sp_productChoice_H {
    max-width: $body_layout;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 40px;
    background-color: $Ivory_white;

    .breadCrumb {
        margin-bottom: 40px;
        padding-top: 120px;
        width: 100%;
        @include PC_h4($Green_2);

        ol {
            display: flex;
            margin: 0 24px;

            a {
                text-decoration: none;
                color: $Green_2;

                &:hover {
                    color: $Yellow_1;
                }
            }
        }
    }

    .Sp_productChoice_top_H {
        display: flex;
        align-items: center;

        @include max_820 {
            display: block;
        }

        figure {
            display: flex;
            width: 60%;

            @include max_820 {
                width: 100%;
            }

            @include max_430 {
                max-width: 380px;
                margin: 0 auto;
            }

            ul {
                margin-right: 24px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 19%;

                li {
                    height: 120px;
                    width: 120px;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        max-width: none;
                        margin-bottom: 0;
                        border-radius: $pic_radius_20px;
                        cursor: pointer;
                    }
                }
            }

            div {
                width: 540px;
                height: 540px;

                @include max_820 {
                    width: 100%;
                    height: 540px;
                }

                img {
                    width: 100%;
                    height: 540px;
                    object-fit: cover;
                    object-position: 0 center;
                    border-radius: $pic_radius_20px;
                    max-width: none;
                    margin-bottom: 0;
                }
            }
        }

        .Sp_productChoice_info_H {
            margin-left: 40px;
            // border: 1px solid brown;
            width: 100%;

                @include max_820 {
                    width: 50%;
                    margin: 0 auto;
                }

            section:first-of-type {
                div {
                    border-bottom: 1px solid $Green_2;
                    padding-bottom: 24px;
                    margin-bottom: 24px;

                    h3 {
                        @include PC_h2($Green_2);
                        font-size: 2rem;
                        margin: 40px 0 24px 0;
                        text-align: left;
                    }

                    span {
                        @include PC_h3($Green_2);
                    }
                }

                ul {
                    width: 100%;

                    li {
                        @include PC_h4($Green_2);
                        line-height: $line_height_140;
                        list-style: disc;
                        margin-left: 20px;
                    }
                }
            }

            section {
                margin-top: 80px;

                p {
                    @include PC_h4($Green_2);
                    line-height: $line_height_140;
                    margin-bottom: 12px;
                }

                .Sp_productChoice_btnGroup_H {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    gap: 20px;

                    // button {
                    //     @include btn_style($btn_radius_30px, 100%, 42px);
                    //     line-height: 10px;
                    // }
                    select {
                        width: 100%;
                        height: 36px;
                        border-radius: 5px;
                        font-size: 1.25rem;
                        background-color: $Ivory_white;
                        border: 0.5px solid $Green_3;
                        color:$Green_3;
                    }

                    @include max_820 {
                        // position: relative;
                        // display: inline-block;
                    }
                }

                .Sp_productChoice_inputGroup_H {
                    margin-bottom: 20px;

                    .quantity-input-group {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        width: 100%; /* 可根據需求調整寬度 */
                        border: 1px solid $Ivory_white;
                        border-radius: 5px;
                        overflow: hidden;
                      }

                      .quantity-input {
                        width: 100%; /* 輸入框占據整個可用空間 */
                        height: 36px;
                        text-align: center;
                        border: none;
                        outline: none;
                        padding: 0 40px; /* 留出左右按鈕的空間 */
                        box-sizing: border-box;
                      }

                      .quantity-input:focus {
                        border: none;
                        outline: none;
                      }

                      .btn-minus,
                      .btn-plus {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        width: 40px;
                        background-color:$Green_3;
                        color: $Ivory_white;
                        border: none;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        user-select: none;
                      }

                      .btn-minus {
                        left: 0; /* 靠左 */
                      }

                      .btn-plus {
                        right: 0; /* 靠右 */
                      }

                      .btn-minus:hover,
                      .btn-plus:hover {
                        background-color: $Green_3;
                      }

                    // form {
                    //     border: 1px solid $Green_1;

                    //     .Sp-cart-input-group-X {
                    //       position: static;
                    //       min-height: 0;
                    //       padding-right: 0;
                    //       padding-left: 0;
                    //       padding-left: 0;
                    //       width: auto;

                    //       span {
                    //         padding: 10px;
                    //         background-color: $Green_3;
                    //         color: $Ivory_white;
                    //         cursor: pointer;
                    //       }

                    //       input {
                    //         flex-grow: 1;
                    //         width: 50%;
                    //         outline: none;
                    //         border: 0px solid transparent;
                    //         background-color: $Ivory_white;
                    //         text-align: center;
                    //         color: $Green_1;
                    //       }

                    //       input[type=number]::-webkit-outer-spin-button,
                    //       input[type=number]::-webkit-inner-spin-button {
                    //         -webkit-appearance: none;
                    //         margin: 0;
                    //       }
                    //     }
                    //   }
                }

                .Sp_productChoice_buyNow_H {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    padding-bottom: 32px;

                    button {
                        @include btn_style($btn_radius_30px, 36%, 52px);
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

.Sp_productChoice_details_H {
    width: 100%;
    margin-top: 40px;

    &::before {
        content: '';
        display: block;
        border-top: 4px dashed $Gray_3;
        position: relative;
        top: -42px;
    }

    .Sp_productChoice_detailsBlock1_H {
        max-width: $body_layout;
        margin: 0 auto;
        width: 50%;
        margin-bottom: 40px;

        h3 {
            @include PC_h3($Green_2);
            font-weight: bold;
            text-align: center;
            width: 100%;

            &::after {
                content: '';
                display: block;
                border-bottom: 1px solid $Green_2;
                width: 60%;
                margin: 16px auto 0 auto;
            }

            @include max_820 {
                @include PC_h4($Green_1);
            }
        }

        p {
            @include PC_h4($Green_1);
            margin-top: 20px;
            line-height: $line_height_140;

            @include max_820 {
                @include PC_h6($Green_1);
                line-height: 140%;
            }
        }
    }

    figure {
        @include max_430 {
            max-width: 380px;
            margin: 0 auto;
        }
        img {
            width: 100%;
            height: 444px;
            object-fit: cover;
            object-position: center -280px;

            @include max_820 {
                object-position: center center;
            }

            @include max_430 {
                margin: 0 3vw;
                width: 100%;
                height: 260px;
                border-radius: $pic_radius_20px;
            }
        }
    }
        // .Sp_productChoice_detailsBlock2_H,
        // .Sp_productChoice_detailsBlock3_H {
        //     display: flex;
        //     max-width: $body_layout;
        //     margin: 40px auto;

        //     @include max_430 {
        //         flex-direction: column; /* 圖文上下排列 */
        //         align-items: center; /* 圖片和文字居中 */
        //       }


    .Sp_productChoice_detailsBlock2_H {
        display: flex;
        max-width: $body_layout;
        margin: 40px auto 40px auto;

        @include max_820 {
            width: 100%;
        }

        img {
            object-fit: cover;
            width: 70%;
            height: 426px;
            border-radius: $pic_radius_20px;
        }

        div {
            @include PC_h4($Green_1);
            margin-left: 40px;
            margin-top: 136px;
            width: 23%;

            h3 {
                @include PC_h3($Green_1);
                margin-bottom: 40px;

                @include max_820 {
                    @include PC_h4($Green_1);
                }
            }

            p {
                @include PC_h3($Green_1);

                @include max_820 {
                    @include PC_h6($Green_1);
                    line-height: 200%;
                }
            }
        }
    }

    .Sp_productChoice_detailsBlock3_H {
        display: flex;
        max-width: $body_layout;
        margin: 40px auto 40px auto;

        @include max_430{
            margin: 20px 10px;
        }

        img {
            object-fit: cover;
            width: 70%;
            height: 426px;
            border-radius: $pic_radius_20px;
            object-position: center;

            @include max_430 {
                margin: 0 3vw;
                width: 100%;
                height: 260px;
            }

        }

        div {
            @include PC_h3($Green_1);
            margin-left: 40px;
            margin-top: 136px;
            width: 23%;

            @include max_820 {
                @include PC_h4($Green_1);
            }

            @include max_430 {
                display: none;
            }

            ol {
                list-style: disc;
                padding-left: 24px;

                // @include max_820 {
                //     @include PC_h6($Green_1);

                // }
            }

            li{
                @include max_820{
                    @include PC_h6($Green_1);
                    line-height: 200%;
                }

            }
        }
    }
}

.Sp_productChoice_related_H {
    h3 {
        @include PC_h3($Green_2);
        font-weight: bold;
        text-align: center;
        width: 100%;

        &::after {
            content: '';
            display: block;
            border-bottom: 1px solid $Green_2;
            width: 30%;
            margin: 16px auto 40px auto;
        }
        @include max_430{
            margin: 0 auto;

        }
    }

    ol {
        max-width: $body_layout;
        // border: 1px solid brown;
        margin: 0 auto 40px auto;
        display: flex;
        justify-content: center;
        gap: 40px;

        @include max_820 {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 自適應列數 */
        row-gap: 40px;
        margin: 0 100px;
        gap:0;
        }

        @include max_430 {
        margin: 0 3vw;
        grid-template-columns: repeat(2, 1fr); /* 每行顯示兩個商品 */

        }


        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include max_820 {
                &:nth-last-child(1) {
                    display: none;
                  }
            }
            @include max_430 {
                // flex: 0 0 calc(50% - 20px); /* 每行兩個商品，減去 gap */
                margin-bottom: 20px; /* 商品之間的垂直間距 */
                &:nth-last-child(1) {
                    display: none;
                  }
            }

            a {
                display: block;

                img {
                    width: 120px;
                    height: 120px;
                    object-fit: cover;
                    border-radius: $pic_radius_20px;

                    @include max_820 {
                        width: 200px;
                        height: 200px;
                        gap: 10px;
                    }

                    @include max_430 {
                        width: 150px;
                        height: 150px;
                    }
                }

                p {
                    text-align: center;
                    margin-top: 40px;
                    @include PC_h4($Green_3);

                    @include max_820 {
                        margin: 20px 0;
                        @include PC_h6($Green_1);
                    }

                    @include max_430 {
                        margin-top: 20px;

                    }

                }
            }
        }
    }
}

//---------------------------------------------------------------------------------//
//------------------------------ 環保市集_頁尾 -------------------------------------//

// .Fp_Footer_H {
//     width: 100%;
//     height: 268px;
//     border: 2px solid red;
//     text-align: center;
//     @include PC_h1($Yellow_1);
//     line-height: 268px;
// }

//---------------------------------------------------------------------------------//
